body {
    background: orange;
    background-image: url("../imgs/books-bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    overflow: hidden ;
}

#header {
    color: white;
}

#libraryTitle {
    background-image: url('../imgs/schnappi.bmp');
    background-size: 100%;
    color: navy;
    display: inline-block;
    font-family: cursive;
    font-size: 12px;
    float: left;
    border-radius: 100%;
    border: white solid 2px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    text-align: center;
}

.veil {
    position: fixed ;
    width: 100% ;
    height: 100% ;
    top: 0px ;
    left: 0px ;
    opacity: 0.5 ;
    background: black ;
}

.hidden {
    display: none ;
}

.button {
    border: 2px darkgray solid ;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5) ;
    width: 80px ;
    background-color: rgba(235,235,235,1) ;
    padding: 2px ;
    color: black ;
}

.button:HOVER {
    background-color: rgb(49, 86, 133) ;
    cursor: pointer ;
    color: white ;
}

.menuContainer {
    width: 100%;
}

.menuItem {
    display: inline-block;
    margin: 0 5px 0 5px;
    height: 35px;
    font-family: cursive;
    font-size: 24px;
    border: 3px solid white;
    padding: 0 5px 0 5px;
    background-color: rgb(100,100,225);
    border-radius: 8px;
}

.menuItem:HOVER {
    background-color: rgb(225,100,100);
    cursor: pointer;
}

.column {
    display: inline-block ;
    margin: 0 5px 0 5px ;
}

.page {
    position: absolute ;
    width: 100% ;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,0,200,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100,0,200,0.4);
}