.bookContainer {
    width: 100% ;
    max-height: 550px ;
    overflow-y: scroll ;
    margin: 0 -10px ;
}

.book {
    border: 2px solid silver ;
    width: 150px ;
    height: 180px ;
    position: relative ;
    background-color: rgba(190,156,110, 0.7) ;
    float: left ;
    margin: 5px 5px 0 5px ;
}

.book-bg {
    background-image: url("../imgs/books-bg.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 80%;
    height: 80%;
    opacity: 0.2;
    margin: 10%;
    position: absolute;
}

.book-title {
    color: rgb(50, 50, 50) ;
    font-family: cursive ;
    font-size: 14px ;
    font-weight: bold;
    text-align: center;
}

.book-author {
    font-family: cursive ;
    text-align: center ;
}

.book-year {
     position: absolute;
     bottom: 5%;
     text-align: center;
     width: 100%;
     font-size: 12px ;
}