<!DOCTYPE html>
<html>
    <head>
        <title>Book library</title>
        <script src="lib/jquery-2.0.3.min.js"></script>
        <link rel="stylesheet" href="css/app.css">
        <script>
            (function init() {
                var app = document.createElement("script") ;
                if(window.location.search.indexOf("debug=true") >= 0) {
                    app.src = "app.js" ;
                } else {
                    app.src = "app.min.js" ;
                }
                document.head.appendChild(app) ;
            })() ;
        </script>
    </head>
<body>
    <div id="login">
            <span id="signinButton">
              <span
                      class="g-signin"
                      data-callback="app.auth.signinCallback"
                      data-clientid="941749687344-4okcp9qcufe6gsiucekm7qqfmfljk545.apps.googleusercontent.com"
                      data-cookiepolicy="single_host_origin"
                      data-requestvisibleactions="http://schemas.google.com/AddActivity"
                      data-scope="https://www.googleapis.com/auth/plus.login">
              </span>
            </span>

        <a id="logoutButton" href="#" class="hidden">Logout</a>
    </div>

    <div>
        <h1>List of all available books</h1>
    </div>

    <div id="content"></div>
    <div id="mainToolbar"></div>
    <div id="dialogs" class="hidden">
        <div class="veil"></div>
    </div>


    <!-- Place this asynchronous JavaScript just before your </body> tag -->
    <script type="text/javascript">
          (function() {
           var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
           po.src = 'https://apis.google.com/js/client:plusone.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
         })();

         function $disconnect() {
            return app.auth.disconnectUser() ;
         }

        // Could trigger the disconnect on a button click
        $('#logoutButton').click($disconnect);
    </script>
</body>
</html>
