<html>
<head>
    <title>Book library</title>
    <script src="lib/jquery-2.0.3.min.js"></script>
    <script src="js/bookClient.js"></script>
    <script>
        function init() {
            $("#searchButton").on('click', function() {
                var bookName = $("#bookNameToSearch").val() ;
                getBook(bookName) ;
            }) ;
        }
    </script>
</head>
<body onload="init()">
    <div>
        <h1>List of all available books</h1>
        <div id="allBooks">
            <ul id="availableBooksList">

            </ul>
        </div>
    </div>

    <div id="bookSearch">
        <input id="bookNameToSearch" type="text" placeholder="Enter a book name..." maxlength="100"/><span id="searchButton" class="button">Search!</span>
    </div>

    <div id="results"></div>

    <script>
        getAllBooks() ;
    </script>
</body>
</html>